.timetable-container {
    margin-top: 3rem;
    margin-left: -10rem;
    margin-right: -10rem;
}

.timetable-box {
    margin-top: -3px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid gray;
    color: white;
}